:root {
  --ds-gray-100-value: 0, 0%, 95%;
  --ds-gray-200-value: 0, 0%, 92%;
  --ds-gray-300-value: 0, 0%, 90%;
  --ds-gray-400-value: 0, 0%, 92%;
  --ds-gray-500-value: 0, 0%, 79%;
  --ds-gray-600-value: 0, 0%, 66%;
  --ds-gray-700-value: 0, 0%, 56%;
  --ds-gray-800-value: 0, 0%, 49%;
  --ds-gray-900-value: 0, 0%, 40%;
  --ds-gray-1000-value: 0, 0%, 9%;
  --ds-gray-alpha-100: #0000000d;
  --ds-gray-alpha-200: #00000015;
  --ds-gray-alpha-300: #0000001a;
  --ds-gray-alpha-400: #00000014;
  --ds-gray-alpha-500: #00000036;
  --ds-gray-alpha-600: #00000057;
  --ds-gray-alpha-700: #00000070;
  --ds-gray-alpha-800: #00000082;
  --ds-gray-alpha-900: #0000009c;
  --ds-gray-alpha-1000: #000000e8;
  --ds-gray-100: hsla(var(--ds-gray-100-value), 1);
  --ds-gray-200: hsla(var(--ds-gray-200-value), 1);
  --ds-gray-300: hsla(var(--ds-gray-300-value), 1);
  --ds-gray-400: hsla(var(--ds-gray-400-value), 1);
  --ds-gray-500: hsla(var(--ds-gray-500-value), 1);
  --ds-gray-600: hsla(var(--ds-gray-600-value), 1);
  --ds-gray-700: hsla(var(--ds-gray-700-value), 1);
  --ds-gray-800: hsla(var(--ds-gray-800-value), 1);
  --ds-gray-900: hsla(var(--ds-gray-900-value), 1);
  --ds-gray-1000: hsla(var(--ds-gray-1000-value), 1);
  --ds-focus-border:
    0 0 0 1px var(--ds-gray-alpha-600), 0px 0px 0px 4px #00000029;
}

.dark {
  --ds-gray-100-value: 0, 0%, 10%;
  --ds-gray-200-value: 0, 0%, 12%;
  --ds-gray-300-value: 0, 0%, 16%;
  --ds-gray-400-value: 0, 0%, 18%;
  --ds-gray-500-value: 0, 0%, 27%;
  --ds-gray-600-value: 0, 0%, 53%;
  --ds-gray-700-value: 0, 0%, 56%;
  --ds-gray-800-value: 0, 0%, 49%;
  --ds-gray-900-value: 0, 0%, 63%;
  --ds-gray-1000-value: 0, 0%, 93%;
  --ds-gray-alpha-100: #ffffff0f;
  --ds-gray-alpha-200: #ffffff17;
  --ds-gray-alpha-300: #ffffff21;
  --ds-gray-alpha-400: #ffffff24;
  --ds-gray-alpha-500: #ffffff3d;
  --ds-gray-alpha-600: #ffffff82;
  --ds-gray-alpha-700: #ffffff8a;
  --ds-gray-alpha-800: #ffffff78;
  --ds-gray-alpha-900: #ffffff9c;
  --ds-gray-alpha-1000: #ffffffeb;
  --ds-focus-border:
    0 0 0 1px var(--ds-gray-alpha-600), 0px 0px 0px 4px #ffffff3d;
}
